.bici section{
    display: grid;
    grid-gap: 10px;
    width: 100%;
    height: auto;
    /* grid-template-columns: repeat(3, 1fr); */
    /* grid-template-rows: 450px 450px 450px; */
    box-sizing: border-box;
    padding: 2%;

    p{
        padding: 15px;
        background-color: rgba(0, 0, 0, 0.822);
        color: yellowgreen;
        text-align: justify;
    }
}
.item{
    border-radius: 10px;
    justify-content: space-evenly;
    align-content: space-between;
    min-height: 450px;
}
.item:hover{
    transform: scale(1.15);
    transition: all 0.8s;
}
.item1{
    /* grid-column: 1/2; */
    /* grid-row: 1/2; */
    background-image: url(./multimedia/bici/AdobeStock_169710635_Preview.jpeg);
    background-size: cover;
    background-position: center;
}
.item2{
    /* grid-column: 2/4; */
    /* grid-row: 1/2; */
    background-image: url(./multimedia/bici/AdobeStock_105678336_Preview.jpeg);
    background-size: cover;
    background-position: center;
    justify-self:flex-en;
}
.item3{
    /* grid-column: 1/2; */
    /* grid-row: 2/4; */
    background-image: url(./multimedia/bici/bici\ vert1.jpg) ;
    background-size: cover;
    background-position: center;
}
.item4{
    /* grid-column: 2/3; */
    /* grid-row: 2/3; */
    background-image: url(./multimedia/bici/bici\ vert2.jpg);
    background-size: cover;
    background-position: center;
}
.item5{
    /* grid-column: 3/4; */
    /* grid-row: 2/3; */
    background-image: url(./multimedia/bici/AdobeStock_335226857_Preview.jpeg);
    background-size: cover;
    background-position: center;
}
.item6{
    /* grid-column: 2/4; */
    /* grid-row: 3/4; */
    background-image: url(./multimedia/bici/AdobeStock_427377495_Preview.jpeg);
    background-size: cover;
    background-position: right;
}
