#form {
    background-color: rgba(0, 0, 0, 0.308);
    color: $fontColor;
    padding: 3%;
    legend {
        font-size: larger;
        font-weight: bolder;
        color: $fontColor;
        margin-bottom: 5%;
        margin-left: 1%;
    }
}
#imagen {
    padding-left: 0%;
    /* flex-grow: 2; */
}
#imagen:hover {
    transform: rotateY(360deg);
    transition: all 2s;
}
