@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');
// *{
//     padding: 0;
//     margin: 0;
//     box-sizing: border-box;
// }
// html{
//     scroll-behavior: smooth;
// }
// body{
//     background-color: rgb(176, 176, 176);
//     width: 100%;
// }

// #verMas{
//     height: auto;
//     padding: 20px;
//     background-color: black;
// }
// #verMas ul{
//     padding-top: 15px;
//     list-style: none;
//     text-align: center;
// }
// #verMas ul li{
//     text-decoration: none;
//     font-family: 'Montserrat', sans-serif;
// }
// #verMas a{
//     width: 300px;
//     height: 300px;
//     color:yellowgreen;
//     text-decoration: none;
//     font-family: 'Montserrat', sans-serif;
//     font-size:x-large;
    
// }
// #verMas a:hover{
//     color: grey;
// }
// #call{
//     position: relative;
//     top: 20px;
//     box-sizing: border-box;
//     color: grey;
//     width: 250px;
//     float: center;
//     background-color: rgba(0, 0, 0, 0.804);
//     padding: 20px;
//     font-family: 'Montserrat', sans-serif;
//     /* padding-top:  70px; */
//     margin-left: 45px;
//     border: 2px solid yellowgreen;
// }
// #call h2{
//     color: yellowgreen;
//     background-color: black;
// }
// #call p{
//     margin-bottom: 20px;
//     color: rgb(192, 205, 50);
// }
// #call a{
//     background-color: rgb(192, 205, 50);
//     color: grey;
//     text-decoration: none;
//     padding: 2px;
// }
// #call a:hover{
//     background-color: black;
// }
// h1{
//     background-color: rgb(192, 205, 50);
//     font-family: 'Montserrat', sans-serif;
//     font-size:xx-large;
//     text-transform: capitalize;
//     color: rgb(0, 0, 0);
//     padding: 15px;
// }
// h2{
//     background-color: rgb(192, 205, 50);
//     font-family: 'Montserrat', sans-serif;
//     font-size:x-large;
//     text-transform: capitalize;
//     text-align: center;
//     color: grey;
//     padding: 10px;
// }
// h4{
//     background-color: rgba(0, 0, 0, 0.726);
//     font-family: 'Montserrat', sans-serif;
//     font-size:25px;
//     text-transform: capitalize;
//     color: rgba(192, 205, 50, 0.881);
//     padding: 15px;
// }
// section{
//     background-color: rgb(176, 176, 176);
//     height: auto;
//     width: 100%;
// }
// .movimiento{
//     background-color: black;
//     color: yellowgreen;
//     font-size:x-large;
// }
// footer{
//     background-color: rgb(192, 205, 50);
//     min-height: 50px;
//     width: 100%;
//     text-align: center;
//     grid-area: footer;
// }
// footer p{
//     color: grey;
//     font-family: 'Montserrat', sans-serif;
//     font-size: 25px;
//     text-transform: capitalize;
//     padding-bottom: 20px;
// }
// footer i{
//     font-size: 40px;
//     color: grey;
//     letter-spacing: 15px;
// }
// #inicio{
//     color: grey;
//     font-size: 20px;
//     font-family: 'Montserrat', sans-serif;
//     text-decoration: none;
//     border: 3px solid grey;
//     margin-left: 1%;
// }
// #inicio:hover{
//     color: yellowgreen;
//     background-color: black;
// }
// #nosotros img{
//     padding-left: 15%;
// }
// #nosotros-img{
//     width: 80%;
//     height: auto;
//     padding-top: 1%;
//     padding-left: 15%;
// }
// #nosotros{
//     /* min-width: 300px; */
//     background-color: beige;
//     padding: 5%;
// }
// p{
//     font-family: 'Montserrat', sans-serif;
//     font-size: 15px;
// }
// #formu{
//     background-color: rgba(0, 0, 0, 0.568);
//     color: yellowgreen;
//     padding: 2%;
//     font-family: 'Montserrat', sans-serif;
//     /* width: 300px; */
// }
// #formu legend{
//     font-weight: bolder;
//     font-size: larger;
//     font-weight: bolder;
//     color: yellowgreen;
//     margin-bottom: 5%;
// }
// #formu select{
//     background-color: rgba(0, 0, 0, 0.128);
//     color: yellowgreen;
// }
// #formu input{
//     background-color: rgba(189, 187, 187, 0.087);
//     border: 2px solid yellowgreen;
//     color: yellowgreen;
//     padding-bottom: 2%;
// }
// #formu label{
//     background-color: rgba(189, 187, 187, 0.087);
//     color: yellowgreen;
//     padding-bottom: 2%;
// }
// #formu textarea{
//     background-color: rgba(201, 201, 201, 0.176);
//     color: yellowgreen;
// }
// #login{
//     background-color: rgba(128, 128, 128, 0.139);
//     width: 100%;
//     height: auto;
//     padding: 2%;
//     font-family: 'Montserrat', sans-serif;
//     display: flex;
//     flex-direction: row;
//     flex-wrap: wrap;
//     justify-content: space-evenly;
//     align-items: center;
// }
// #form{
//     background-color: rgba(0, 0, 0, 0.308);
//     color: yellowgreen;
//     padding: 3%;
// }
// #imagen{
//     padding-left: 0%;
//     /* flex-grow: 2; */
// }
// #imagen:hover{
//     transform: rotateY(360deg);
//     transition: all 2s;
// }
// #form legend{
//     font-size: larger;
//     font-weight: bolder;
//     color: yellowgreen;
//     margin-bottom: 5%;
//     margin-left: 1%;
// }

.reservar{
    // width: 100%;
    // height: auto;
    background-color: rgb(176, 176, 176);
    padding: 20px;
}
#reservarBici{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    flex-wrap: wrap;
    color: yellowgreen;
    & img{
        padding: 2%;
        // min-width: 400px;
        border-radius: 10%;
    }
    }
#reservarDiaDeCampo{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    & img{
        padding: 2%;
        padding-left: 2%;
        // min-width: 400px;
        border-radius: 10%;
    }
}
#reservarWalking{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    & img{
        padding: 2%;
        padding-left: 2%;
        border-radius: 10%;
    }
}
#reservarBot{
    font-family: 'Montserrat', sans-serif;
    font-size: large;
    text-align:start;
    text-decoration: none;
    color: yellowgreen;
    background-color: black;
    padding: 10px;
    margin: 15px;
    position:fixed;
    bottom: 5%;
    left: 10%;
}
#reservarBot:hover{
    background-color: yellowgreen;
    color: black;
}
// .subir{
//     height: 50px;
//     width: 50px;
//     background-color: yellowgreen;
//     position: fixed;
//     bottom: 40px;
//     right: 40px;
//     text-align: center;
//     font-size: 40px;
//     line-height: 50px;
//     color: grey;
//     border: 3px solid grey;
//     border-radius: 30%;
// }
// #barra li a:hover{
//     color:rgb(0, 0, 0)
// }

@for $in from 1 through 3 {
    #bucle-#{$in} {
        background-color: darken($superYellow, $in * 30%);
        color: lighten($backgroundColorGrey, $in*10%);
        // font-size: ($mediano, $in * 10%);
    }

}