.reservar{
    // width: 100%;
    // height: auto;
    background-color: rgb(176, 176, 176);
    padding: 20px;
}
#reservarBici{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    flex-wrap: wrap;
    color: yellowgreen;
    & img{
        padding: 2%;
        // min-width: 400px;
        border-radius: 10%;
    }
    }
#reservarDiaDeCampo{
    @extend #reservarBici;
    // display: flex;
    // flex-direction: row;
    // justify-content: space-evenly;
    // align-items: center;
    // flex-wrap: wrap;
    // & img{
    //     padding: 2%;
    //     padding-left: 2%;
    //     // min-width: 400px;
    //     border-radius: 10%;
    // }
}
#reservarWalking{
    @extend #reservarBici;

    // display: flex;
    // flex-direction: row;
    // justify-content: space-evenly;
    // align-items: center;
    // flex-wrap: wrap;
    // & img{
    //     padding: 2%;
    //     padding-left: 2%;
    //     border-radius: 10%;
    // }
}
#reservarBot{
    font-family: 'Montserrat', sans-serif;
    font-size: large;
    text-align:start;
    text-decoration: none;
    color: yellowgreen;
    background-color: black;
    padding: 10px;
    margin: 15px;
    position:fixed;
    bottom: 5%;
    left: 10%;
}
#reservarBot:hover{
    background-color: yellowgreen;
    color: black;
}
@for $in from 1 through 3 {
    #bucle-#{$in} {
        background-color: darken($superYellow, $in * 30%);
        color: lighten($backgroundColorGrey, $in*10%);
        // font-size: ($mediano, $in * 10%);
    }

}
#walkingTour-texto{
    font-size: 15px;
    text-align: center;
    p{
        font-size: 15px;
    }
    iframe{
        width: auto;
        height: 60%;
        grid-area: ubicacion;
        /* padding: 1%; */
        padding-left: 10%;
    }
}
#texto1{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    grid-area: texto1;
    padding: 1%;
    padding-top: 1%;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    height: auto;
    background-color: $backgroundColorBlack;
    color: $fontColor;
}
#texto2{
    @extend #texto1;
}