$fontMont:'Montserrat', sans-serif;
$fontTamanio: 25px;
$mediano: 40px;
$large: 60px;
$xl: 80px;

$height: 450px;
$width: 500px;


$backgroundColorBlack: black;
$backgroundColorGrey: grey;
$backgroundColorYellow: yellowgreen;
$superYellow: rgb(192, 205, 50);
$fontColor: yellowgreen;
// @if $backgroundColor==negro{
//     background-color: black;
// }
// @else if $backgroundColor==amarillo{
//     background-color: yellowgreen;
// }
// @else $backgroundColor==gris{
//     background-color: grey;
// }

