$fontMont:'Montserrat', sans-serif;
$fontTamanio: 25px;
$backgroundColorBlack: black;
$backgroundColorGrey: grey;
$backgroundColorYellow: yellowgreen;
$superYellow: rgb(192, 205, 50);
$fontColor: yellowgreen;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');
@mixin titulos($background-color, $font-family, $font-size) {
    background-color: $background-color;
    font-family: $font-family;
    font-size: $font-size;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body {
    background-color: $backgroundColorGrey;
    width: 100%;
}
p{
    background-color: $backgroundColorBlack;
    color: $fontColor;
    text-align: justify;
    font-size: $fontTamanio;
}
main{
    background-image: url(./multimedia/cyclist-resting-silhouette-at-sunset-active-outdoor-sport-concept.jpg) ;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 450px;
}
.presentacion{
margin: 5px;
padding: 2%;
        div{
    font-size:larger;
    /* float: right; */
    text-align:justify;
    /* width: 50%; */
    margin: 2px;
    }
}
.video{
margin-top: 1%;
}
#verMas {
height: auto;
padding: 20px;
background-color: $backgroundColorBlack;
    & ul {
    padding-top: 15px;
    list-style: none;
    text-align: center;
    }
        & li {
        text-decoration: none;
        font-family: $fontMont;
        }
            a {
            width: 300px;
            height: 300px;
            color: $fontColor;
            font-family: $fontMont;
            text-decoration: none;
            font-size: x-large;
            }
}
#verMas a:hover {
color: grey;
}

#call {
position: relative;
top: 20px;
box-sizing: border-box;
color: grey;
width: 250px;
float: center;
background-color: rgba(0, 0, 0, 0.804);
padding: 20px;
font-family: $fontMont;
/* padding-top:  70px; */
margin-left: 45px;
border: 2px solid yellowgreen;
h2 {
    color: $fontColor;
    background-color: $backgroundColorBlack;
}
    p {
    margin-bottom: 20px;
    color: $superYellow;
}
    a {
    background-color: $superYellow;
    color: grey;
    text-decoration: none;
    padding: 2px;
}}
#call a:hover {
    background-color: $backgroundColorBlack;
}

h1 {
    @include titulos(rgb(192, 205, 50), 'Montserrat', xx-large);
    text-transform: capitalize;
    color: rgb(0, 0, 0);
    padding: 15px;
}
h2 {
    @include titulos(rgb(192, 205, 50), 'Montserrat', x-large);
    text-transform: capitalize;
    text-align: center;
    color: grey;
    padding: 10px;
}
h4 {
    @include titulos(rgb(192, 205, 50), 'Montserrat', 25px);
    text-transform: capitalize;
    color: $superYellow;
    padding: 15px;
}
section {
    background-color: $backgroundColorGrey;
    height: auto;
    width: 100%;
}
.movimiento {
    background-color: $backgroundColorBlack;
    color: $fontColor;
    font-size: x-large;
}
section{
    background-color: $backgroundColorGrey;
    height: auto;
    width: 100%;
} 
.movimiento{
    background-color: $backgroundColorBlack;
    color: $fontColor;
    font-size:x-large;
}
footer {
    background-color: $superYellow;
    min-height: 50px;
    width: 100%;
    text-align: center;
    grid-area: footer;
    p {
        color: grey;
        font-family: $fontMont;
        font-size: 25px;
        text-transform: capitalize;
        padding-bottom: 20px;
    }
    i {
        font-size: 40px;
        color: grey;
        letter-spacing: 15px;
    }
} 
#inicio {
    color: grey;
    font-size: 20px;
    font-family: $fontMont;
    text-decoration: none;
    border: 3px solid grey;
    margin-left: 1%;
}

p {
    font-family: $fontMont;
    font-size: 15px;
}
#reservarBot {
    font-family: $fontMont;
    font-size: large;
    text-align: start;
    text-decoration: none;
    color: $fontColor;
    background-color: $backgroundColorBlack;
    padding: 10px;
    margin: 15px;
    position: fixed;
    bottom: 5%;
    left: 10%;
}
#reservarBot:hover {
    background-color: $backgroundColorYellow;
    color: black;
}
.subir {
    height: 50px;
    width: 50px;
    background-color: $backgroundColorYellow;
    position: fixed;
    bottom: 40px;
    right: 40px;
    text-align: center;
    font-size: 40px;
    line-height: 50px;
    color: grey;
    border: 3px solid grey;
    border-radius: 30%;
}






/*# sourceMappingURL=estilos.css.map */

@import "./scss/resets";
@import "./scss/mediaq";
@import "./scss/header";
@import "./scss/variables";
@import "./scss/bici";
@import "./scss/diaDeCampo";
@import "./scss/walking";
@import "./scss/nosotros";
@import "./scss/registrarse";
@import "./scss/contacto";
@import "./scss/reservar";

// #inicio:hover {
//     color: $fontColor;
//     background-color: $backgroundColorBlack;
// } 